body {
    font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
}

#chart{
  background-color: #000000;
  font-size: 0;
}

#tooltip {
    position: absolute;
    width: 30vw;
    padding: 1%;
    background-color: white;
    border-radius: 1%;
    pointer-events: none;
    display: none;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
  }

#tooltip::first-line {
  font-weight: bold !important;
  font-size: 2.3vw !important;
}