body {
    font-family: "Roboto", sans-serif;
}

#chart{
    width: 100%;
    max-width: 1000px;
    background-color: #000000;
    margin: 100px auto;
}

#tooltip {
    position: absolute;
    width: 200px;
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    pointer-events: none;
    display: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

h1 {
    font-family: 'Goudy Old Style', sans-serif;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 21em;
    line-height: 1.3em;
    letter-spacing: -24px;
    margin: -7rem 0 -16rem 0;
    color: #333;
    text-align: center;  
  }