body {
    font-family: "Roboto", sans-serif;
}

#chart{
    width: 100%;
    max-width: 1000px;
    background-color: #000000;
    margin: -120px auto;
}

#tooltip {
    position: absolute;
    width: 15vw;
    padding: 1%;
    background-color: white;
    border-radius: 1%;
    pointer-events: none;
    display: none;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
  }

#tooltip::first-line {
  font-weight: bold !important;
  font-size: 1.15vw !important;
}

h1 {
    font-family: 'Goudy Old Style', sans-serif;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 10vw;
    line-height: -1vh;
    letter-spacing: -1.25vw;
    margin: 1vh;
    color: #333;
    text-align: center;  
  }

p {
    font-family: 'Goudy Old Style';
    text-transform: lowercase;
    font-size: 1vw;
    letter-spacing: .25vw;
    margin: 1vh;
    color: #333;
    text-align: center;  
  }